.c_header {
  background-color: lightslategray;
  height: 70px;
  margin-top:0;
}

#header {
  color: white;
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  padding: 0.1%;
}
